<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/app.css">

    <title>Rock Talk | Chat</title>
</head>

<body>
    <main id="app">
        <section class="chat-con">
            <div class="chat-header">
                <h2>Welcome To RockTalk</h2>
                <a class="chat-btn" href="index.html">Leave</a>
            </div>

            <div class="main-chat">
                <div class="chat-info">
                    <div class="room">
                        <h3>Topic</h3>
                        <p>STP</p>
                    </div>
                    <div class="users">
                        <h3>Users</h3>
                        <ul>
                            <li>Dave</li>
                            <li>John</li>
                        </ul>
                    </div>
                </div>

                <section class="message-board">
                    <newmessage
                        v-for="message in messages"
                        :msg="message"
                        :socketid="socketID">
                    </newmessage>
                </section>

            </div>
            <form @submit.prevent="dispatchMessage" id="chat-form" action="">
                <input v-model="message" id="msg" type="text" placeholder="enter message" autocomplete="off" required />
                <button class="chat-btn" href="chat.html" type="submit">Send</button>
            </form>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/main.js" defer type="module"></script>
</body>

</html>
