<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/app.css">

    <title>ONYX | Chat</title>
</head>

<body>
    <main id="app">

        <section class="chat-con">
            <div class="chat-header">
                <img class="logo" src="images/onyxlogo.png" alt="logo">
                <a href="/">logout</a>
            </div>

            <div class="main-chat">

                <div class="chat-info">
                    <div class="users">
                        <h3>Users</h3>
                        <ul v-for="user in users">
                            <li>{{user.name}}</li>
                        </ul>
                    </div>
                </div>

                <div class="message-board">
                    <newmessage
                        v-for="message in messages"
                        :msg="message"
                        :socketid="socketID">
                    </newmessage>
                    <div class="is-typing" :class="{'showFlex' : isTyping}">user typing</div> 
                </div>

            </div>

            <form @submit.prevent="dispatchMessage" id="chat-form" action="">
                <input
                    id="msg"
                    @focus="typing"
                    @blur="typing"
                    v-model="message"
                    type="text"
                    placeholder="enter message"
                    autocomplete="off"
                    required />
                <button class="chat-btn" href="chat.html" type="submit">Send</button>
            </form>

        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/main.js" defer type="module"></script>
</body>

</html>
