.chat-con{
    background: $grey;
    padding: 1em;
    border-radius: $rad;
    width: 66vw;
    min-height: 80vh;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 5fr;
    grid-template-rows: 3em 1fr 3em;
    grid-template-areas:
    "header header"
    "chat chat"
    "input input"
    ;

    p{margin: .25em;}

}

.chat-header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-chat{
    grid-area: chat;
    flex-grow: 0;
    margin: 1em 0;
    width: 100%;
    max-height: 65vh;
    display: flex;
    flex-direction: row;
    border-radius: $rad;

    .chat-info{
        color: $black;
        background: $highlight;
        flex-shrink: 0;
        width: 30%;
        max-width: 200px;
        h3{
            padding: .5em;
            background-color: rgb(37, 202, 147);
        }
        ul li{
            padding: .25em .5em;
            &:first-of-type{padding-top:.5em;}
        }
        p{margin:0; padding: .5em;}

    }

    .message-board{
        background: $white;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        .new-message{
            color: $black;
            border-radius: $rad;
            padding: .5em;
            margin: .5em;
            background:$highlight;
            box-shadow: $shadow;
            p{display: block;}

            .meta{
                font-weight: lighter; 
                font-size: 1em;
                float: right;
            }
        }
    }
}

.new-message{background: #00ffff;}

#chat-form{
    grid-area: input;
    display: flex;
    flex-direction: row;
    align-items: center;

    input{
        flex-grow: 1;
        border: solid 2px rgb(201, 201, 201);
        border-radius: $rad;
        padding:.5em;
        height: 1.2em;
    }

    .chat-btn{
        flex-grow: 0;
        background: $highlight;
        width: 80px;
        height: 2.5em;
    }
}