.chat-con{
    background: $grey;
    border-radius: $rad;
    width: 66%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: center;

    p{margin: .25em;}

}

.chat-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    a{color: $highlight; transform: rotate(45deg); font-size:3em;}
}

.main-chat{
    flex-grow: 1;
    max-height: 63vh;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    border-radius: $rad;

    .chat-info{
        color: $black;
        background: $lowlight;
        flex-shrink: 0;
        width: 30%;
        max-width: 200px;
        h3{
            padding: .5em;
            background-color: $highlight;
        }
        ul li{
            padding: .25em .5em;
            &:first-of-type{padding-top:.5em;}
        }
        p{margin:0; padding: .5em;}

    }

    .message-board{
        background: $white;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        .new-message{
            align-self: flex-start;
            max-width: 80%;
            color: $black;
            border-radius: $rad;
            padding: .5em;
            margin: .5em;
            background:$highlight;
            box-shadow: $shadow;
            p{display: block;}

            &.my-message{background: $lowlight; align-self: flex-end;}

            .meta,.time{font-weight: lighter; font-size: 1em;}
            .time{float: right;}
        }
    }
}


#chat-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;

    input{
        flex-grow: 1;
        border: solid 2px rgb(201, 201, 201);
        border-radius: $rad;
        padding: .5em;
    }

    .chat-btn{
        width: 80px;
        height: 2.5em;
    }
}


@media screen and (max-width:768px){
    .chat-con{width:98%;}
}