$main-bg-color: #161618;
$highlight: #0fa;
$white:#e2e1eb;
$black:#101010;


//? Font
$header-font: 'Comfortaa', Helvetica, Arial, sans-serif;
$header-size: 3rem; 

$text-font: 'Kumbh Sans', Helvetica, Arial, sans-serif;
$text-size: 1.2rem;