$main-bg-color: #161618;
$highlight: #0fa;
$white:#e2e1eb;
$black:#101010;
$grey:#333;

$rad:.5em;
$shadow: 2px 2px 2px rgba(0,0,0,0.5);

//? Font
$header-font: 'Comfortaa', Helvetica, Arial, sans-serif;
$header-size: 2rem; 

$text-font: 'Kumbh Sans', Helvetica, Arial, sans-serif;
$text-size: 1.2em;